body {
    background-color: #3949ab;
    color: #e8eaf6;
    font-weight: bold;
    text-align: center;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20;
}

li {
    background-color: white;
    color: black;
    text-align: center;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
    margin: 1em;
    padding: 0.5em;
}

.dia {
    font-size: 1.5em;
    padding-bottom: 0.5em;
}

.casos {
    font-size: 1.3em;
}